h1{
    color:aqua;
    font-family: fantasy;
    background-color: brown;
}
h2{color: brown;
background-color: aquamarine;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
body{background-color:blue;}
h3{color: antiquewhite;
background-color: black;}
